
$menu-colors-list: #E13 #D91 #FA4 #EA4;
$content-colors-list: #555 #666 #777 #888;
$headers-colors-list: #FFF;

$color-primary-list: #E13 #D91 #FA4 #00070E #000000;

$color-secondary-list: #7F6300  #5C4700 #392C00 #161100 #000000;

$color-backup-list: #7F2C00 #5C2000 #391400 #160800 #000000;

$font-family: "courier new" !default;