<!DOCTYPE html>
<html>
    <head>
    <title><%= config.title %> | Home</title>
    </head>
    <link rel="stylesheet" href="main.css" />
    <body id="blog">
    <% include navigation.ejs %>
    <main>
        <h1>Tumblr & links</h1>
        <% if(items.response.posts.length <= 0) { %>
            <p>No posts made available right now</p>
        <% } else { %>
        <div>
        <% for(var i=0; i < items.response.posts.length; i++) { %>
            <div>
                <% switch(items.response.posts[i].type) { 
                    case 'link':
                %>
                <%- include('blog.link.ejs', {post: items.response.posts[i]}) %>
                <%
                    break;
                    default:                
                %>
                    <div>default</div>
                <%
                    break;
                %>
                <% } %>
            </div>
        <% } %>
        </div>
        <% } %>
    </main>
    <body>
    <% include footer.ejs %>
<html>