<!DOCTYPE html>
<html id="home">
    <head>
    <title><%= config.title %> | Home</title>
    </head>
    <link rel="stylesheet" href="main.css" />
    <body>
    <% include navigation.ejs %>
    <h1>In Development</h1>
        <h2>What is this website?</h2>
        <p>
            This is the website and online home of Chris Clarke. Amongst many things I am web developer.
            Here I will showcase development work and whatever else.
        </p>
    <body>
    <% include footer.ejs %>
<html>