<!DOCTYPE html>
<html>
    <head>
    <title><%= config.title %> <%= config.subtitle %></title>
    </head>
    <link rel="stylesheet" href="main.css" />
    <body id="home">
    <%- include('navigation.ejs'); %>
    <main>
        <h1>This is the website and online home of Chris Clarke.</h1>
        <div>
            <div>
                
            </div>
        </div>
    </main>
    <body>
    <%- include('footer.ejs'); %>
<html>