<nav>
    <div>
        <div>
            <a href="/index.htm">Home</a>
        </div>
        <div>
            <a href="/photos.htm">Photos</a>
        </div>
        <div>
            <a href="/work.htm">Work</a>
        </div>
        <div>
            <a href="/blog.htm">Blog</a>
        </div>                        
    </div>
</nav>