<nav>
    <div>
        <div>
            <a href="/index.htm">Home</a>
        </div>
        <div>
            <a href="/photos.htm">Photos</a>
        </div>
        <div>
            <a href="#">CV</a>
        </div>
        <div>
            <a href="#">Work</a>
        </div>
        <div>
            <a href="#">Blog</a>
        </div>                        
    </div>
</nav>