<nav>
    <div>
        <div>
            <a href="/index.htm">Home <%= config.navigation === undefined ? 'a' : config.navigation.p %></a>
        </div>
        <div>
            <a href="/photos.htm">Photos</a>
        </div>
        <div>
            <a href="/work.htm">Work</a>
        </div>
        <div>
            <a href="/blog.htm">Blog</a>
        </div>                        
    </div>
</nav>