<!DOCTYPE html>
<html>
    <head>
    <title><%= config.title %> | Home</title>
    </head>
    <link rel="stylesheet" href="main.css" />
    <body id="work">
    <% include navigation.ejs %>
        <h1>Projects & CV</h1>
        <p>
            Pdf Link
        </p>
        <p>
            github link list
        </p>
    <body>
    <% include footer.ejs %>
<html>