<!DOCTYPE html>
<html>
    <head>
    <title><%= config.title %> | Home</title>
    </head>
    <link rel="stylesheet" href="main.css" />
    <body id="work">
    <% include navigation.ejs %>
    <main>
        <h1>Projects & CV</h1>
        <p>
            <a href="https://github.com/cieclarke/ciec-home-3">Website Source Code</a>
        </p>
        </main>
    <body>
    <% include footer.ejs %> 
<html>